<div class="form">
    <form action="" method="POST" target="_blank">
        <h3 style="text-align:left;">Contactenos</h3>
        <div class="form-group">
            <div class="input-group">
                <input name="name" type="name" placeholder="Name" class="form-control border-left-0" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input name="email" type="email" placeholder="Email" class="form-control border-left-0" required>
            </div>
        </div>
        <div class="form-group">
            <textarea class="form-control" id="message" rows="5" placeholder="Enter message" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary float-right">
            <i class="fa fa-paper-plane"></i> Send</button>
        </form>
    </div>