<div class="container-fluid bg-light text-light p-5">
    <div class="container bg-dark p-5">
        <h1 class="display-4">Enrutamiento de Angular</h1>
        <hr>
        <p>El presente proyecto consiste en demostrar de una forma basica el funcionamiento  SPA de Angular.
            Por medio del sistema de enrutamiento,la creacion y reutilizacion de componentes se le permite al usuario desarrollar una aplicación de una sola página con múltiples vistas facilitando la navegación entre ellas. 
            El usuario puede cambiar entre estas vistas sin perder el estado y las propiedades de la aplicación.
    </div>
</div>